body {
    background-color: #d1e0e0;
}
/*header*/
header{
    height: 118px;
    background-color: #d1e0e0;
}
.logo{

    inline-size: 1.2;
    color: #fff;
}
.logo p{
    display: inline-block;
    font-family: 'Yeseva One';
    font-size: 22px;
    text-shadow: 3px 3px 5px #999;
}
.logo span{
    padding-top: 24px;
    float: right;
    font-family: 'Tahoma', bold;
    font-size: 18px;

}
/*блок перезвона*/
.recall{
    background-color: #cbd4e6;
}
.recall__img{
    background: url("../image/doc.png");
    height: 515px;
    width: 1440px;
}
.recall__text{
    float: right;
}