@media (min-width: 768px) and (max-width: 991px) {
    header{
        padding: 16px;
    }
    .header__menu{
        padding-top: 16px;
    }  
    .menu{
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .menu__item a,li{
        font-size: 24px;
    }
    .menu__item{
        padding-left: 0;
    }
    .services__menu{
        top: 36px;
        padding: 8px;
    }
    .recall__content{

        position: absolute;
        top:16px;
        padding: 0;
    }
    .recall__text-p{
        background-color: #fff;
        opacity: 0.7;
        padding: 2px 8px;
        font-size: 22px;
    }
    .form-title{
        font-size: 30px;
        line-height: 1;
        text-align: center;
        color: #fff;
        filter: drop-shadow(0px 0px 6px #000);
    }
    .cube{
        width: 50%;
        height: 325px;
    }
    
    
    /* footer */
    .footer_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_content__column{
        padding: 20px 0;
        width: 50%;
        justify-content: center;
    }

 }