@media (min-width: 1200px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }


    .cube{
       width: 25%;
       height: 325px;
   }
   /*Clinic*/
    .clinic{
        padding: 16px;
        width: 40%;
        height: 100%;
        
        
        &__info{    
            display: flex;
            flex-direction: column;
            &_name{
                font-size: 22px;
                
            }
            &_address{
                padding: 0 0 16px 0;
                font-size: 14px;
                line-height: 12px;            
            }
        }
        &__text{
            font-size: 16px;
            line-height: 14px;
            padding-bottom: 10px;
            br{
                display: none;
            }
        }
        &__bottom{
            
            justify-content: space-between;
            &_phone_number{
                font-size: 19px;
                          
            }
            
        }
    }
   .form__footer-title br{
    display: none;
    }
    .rentgen {
        display: none;
    }
}