@media (min-width: 1440px){
    .container{
        width: 1440px;
        margin: 0 auto;
    }
    .cube{
       width: 360px;
       height: 325px;
   }
   .form__footer-title br{
    display: none;
    } 
.clinic__text{
    font-size: 19px;
 br{ display: block;
}
}
.rentgen {
    display: none;
}
} 