@media (min-width: 576px) and (max-width: 768px) {

     .cube{
        width: 50%;
        height: 325px;
    }
    
    .clinic{
        padding: 16px;
        width: 100%;
        height: 100%;
        
        &__img{
            margin: 0 auto;
        }
        &__info{    
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 auto;
            &_name{
                font-size: 22px;
                
            }
            &_address{
                padding: 0 0 16px 0;
                font-size: 14px;
                line-height: 12px;            
            }
        }
        &__text{
            font-size: 16px;
            line-height: 14px;
            padding-bottom: 10px;
            br{
                display: none;
            }
        }
        &__bottom{
            
            justify-content: space-between;
            &_phone_number{
                font-size: 19px;         
            }
            
        }
    }
    .rentgen-full {
    display: none;
    }
    /* footer section*/
    .footer{
        padding: 20px 16px;
        flex-wrap: wrap;
    }
    .footer .brand{
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .footer .brand__img{
        width: 64px;
        height: 57px;
    }
    .footer .brand__name{
        font-size:24px;
    }
    
    .form__footer .recall__input{
        margin-top: 16px;
    }
    .footer_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_content__column{
        padding: 20px 0;
        width: 50%;
        justify-content: center;
    }
    .footer_content__heading{
        text-align: center;
        padding-left: 20px;
    }
    .list__item:first-child{
        
        padding-top: 20px;
    }
    .list__item,.footer_content__item{
        text-align: left;
        padding: 10px 0 ;
    }
    .footer_content__item:first-child{
        padding-top: 20px ;
        margin-top: 0;
    }    
    .list__item_social{
        padding-right: 20px; 
    }
    .footer__form{
        text-align: center;
    }
    .form__input_name{
        margin-top: 00px;
    }    

 }