.recall{
    background-color: $bg-color;
    height: 515px;

    &__content{
        display: flex;
        justify-content: space-between;
        position: relative;
        
    }
    &__img{
        height: 515px;
        overflow: hidden;
    }
    &__text{
        position: absolute;
        top: 118px;
        right: 16px;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1.25;
        color: #494848;
        font-family: "Calibri";
        text-align: right;

    }

    &__form{
        margin-top: 40px;
        position: relative;
    }
        
    &__input{
        margin-top: 40px;
        border-radius: 6px 0 0 6px;
        height: 32px;
        width: 226px;
        padding-left: 16px;
        color: #7a749d;
        font-family: "Calibri";
        font-size: 20px;
        position: relative;
        right: -5px;


    }
    &__button{
        outline: none;
        width: 114px;
        height: 38px;
        background-color: $bg-color;
        border: 1px solid #000;
        border-radius: 0 6px 6px 0;
        font-size: 20px;
        color: #7a749d;
        font-family: "Calibri";
        font-weight: 600;
    }
}
.form-title{
    margin-top: 40px;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 36px;
    color: #494848;
    font-family: "Myriad Pro";
    font-weight: bold;
    text-align: right;
}