
$even: 4px;
$odd:2px;
@for $i from 1 through 18 {
    .item-#{$i} { @if ($i % 2 == 0) {border: $even solid  rgba(random(255),random(255),random(255), $alpha: 1.0)} 
                    @else {border: $odd solid  rgba(random(255),random(255),random(255), $alpha: 1.0)}
    } 
}
@for $i from 1 through 18 {
    #tabs-#{$i}{ 
        display: flex ;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
    }
}   
.tabs{
    border-bottom: 1px solid #e3e6ea;
    
}
.main__nav{
    margin: 35px 0 15px 0;
    padding: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-bottom: 1px solid #e3e6ea;
}
.main__nav_link{
    display: inline-flex;
    a{
        padding: 15px;
        color:#43b1d2;
        font-size: 24px;
        line-height: 14px;
        font-family: "Calibri";
        font-weight: bold;
        text-align: center;
    }
    :focus,:active {
            margin: -1px;
            border: 1px solid #e3e6ea;
            border-bottom:1px solid #fff;
            color:#494848; 
        }
}
.all_clinic{
    height: 100%;
    margin: 50px auto;
    font-size: 22px;
    padding: 16px;
    font-family: "Calibri";
}
/*-----------------------------Шаблон карты клиники------------------------------------*/
.clinic{
    margin: 15px;
    padding: 30px 20px 10px 20px;
    width: 40%;
    height: 240px;
    
    &__card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__img{
        width:200px;
        height: 50px;
    }
    &__info{    
        display: flex;
        flex-direction: column;
        text-align: right;
    
        &_name{
            font-size: 36px;
            color: #494848;
            font-family: "Calibri";
            font-weight: bold;
            
        }
        &_address{
            padding: 0 0 36px 0;
            font-size: 16px;
            line-height: 14px;
            color: #43b1d2;
            font-family: "Calibri";
            font-style: italic;
            
        }
    }
    &__text{
        width: 100%;
        font-size: 16px;
        line-height: 14px;
        color: #494848;
        font-family: "Calibri";
        padding-bottom: 30px;
        br{
            display: none;
        }
    }
    &__bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &_phone_number{
            font-size: 19px;
            line-height: 17px;
            color: #494848;
            font-family: "Calibri";
            font-weight: bold;
            a{color: #43b1d2;}
        }
        &_button{ 
            width: 175px;
            height: 45px;
            font-size: 20px;
            color: #fff;
            font-family: "Calibri";
            background-color: #37c3a8;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
}