/*обнуление*/
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*шрифты*/
@font-face{
    font-family: "Myriad Pro";
    src: url(../../font/myriad_pro.otf);
}
@font-face{
    font-family: "Calibri";
    src: url(../../font/calibri.ttf);
}
@font-face{
    font-family: "Tahoma";
    src: url(../../font/tahoma.ttf);
}
/* переменные */
$main-color: #6bf5f5;   
$bg-color: #cbd4e6;
.articals_comment{
    display: flex;
    @media (min-width: 320px) and (max-width: 575px) {
        flex-wrap: wrap;
    }
}
@media (min-width: 320px) and (max-width: 1439px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 1440px){
    .container{
        width: 1440px;
        margin: 0 auto;
    }
}